<%- include('head') %>

<h1 class="title">Demo blog/h1>
<p class="subtitle">built by Tusa</p>
<div class="nav">
  <a href="/">Home</a> · 
  <a href="/nav.html">Nav</a> · 
  <a href="/">About</a>
</div>

<main>

<nav>
  <ul class="posts-list">
    <% list.forEach(function (item) { %>
      <li>
        <h2>
          <a href="<%- item.link  %>"><%= item.meta.title %></a>
        </h2>
        <div>
          <time datetime="<%= item.meta.formatDate %>"><%= item.meta.formatDate %></time>
        </div>
      </li>
    <% }) %>
  </ul>
</nav>

</main>

<% if (pager) { %>
  <nav class="pager">
    <% if (pager.prevPage) { %>
      <a href="<%- `${tag ? `/tag/${tag}` : ''}/page/` + pager.prevPage %>">Prev</a>
    <% } %>
      <a href="<%- `${tag ? `/tag/${tag}` : ''}/page/1` %>">Index</a>
    <% if (pager.nextPage) { %>
      <a href="<%- `${tag ? `/tag/${tag}` : ''}/page/` + pager.nextPage %>">Next</a>
    <% } %>
  </nav>
<% } %>

<%- include('footer') %>
