<%- include('head') %>

<h1>春秋一语</h1>
<p class="subtitle">涉猎阅旧闻，暂使心魂澄</p>
<div><a href="/">首页</a></div>

<main>

<nav>
  <ul class="posts-list">
    <% list.forEach(function (item) { %>
      <li>
        <h2>
          <a href="<%- item.link  %>"><%= item.meta.title %></a>
        </h2>
        <div>
          <time datetime="<%= item.meta.date %>"><%= item.meta.date %></time>
        </div>
      </li>
    <% }) %>
  </ul>
</nav>

</main>

<% if (pager) { %>
  <nav class="pager">
    <% if (pager.prevPage) { %>
      <a href="<%- `${tag ? `/tag/${tag}` : ''}/page/` + pager.prevPage %>">上页</a>
    <% } %>
      <a href="/">首页</a>
    <% if (pager.nextPage) { %>
      <a href="<%- `${tag ? `/tag/${tag}` : ''}/page/` + pager.nextPage %>">下页</a>
    <% } %>
  </nav>
<% } %>

<%- include('footer') %>
